pandas 
numpy 
matplotlib 
seaborn 
plotly

nltk 
spacy 
scikit-learn 
gensim

transformers 
sentence-transformers

streamlit 
shap
lime

pyspellchecker
language-tool-python

torch

pyLDAvis
wordcloud

joblib